<div class="con">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/rahul.png" height="200" width="200">
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h1>Rahul Patil</h1>
      </div>
      <div class="row">
        <h4>Dot Net Technical Lead-Designer-Developer</h4>
        <h6>
          Dot NET Developer/Tech Lead with 11 years of strong experience in Front-end Development, Back-end Development areas with willingness to
          learn and master Single Page Apps using Angular 2+, Dot Net Core, C#, Rest API and SQL.
        </h6>
      </div>
      <div class="row">
        <button type="button" class="btn btn-warning" routerLink="/resume">Resume</button>
        <button type="button" class="btn btn-warning" routerLink="/connect">Connect</button>
      </div>
    </div>
  </div>
</div>
