<!--<ul class="nav nav-pills">
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/family">My Family Members</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/addfamily">Add Family Members</a>
  </li>
</ul>-->
    <ul>
      <!--<li>
      <a class="fbtn share linkedin" href="https://www.linkedin.com/in/rahulpatil017" target="_blank"><i class="fa fa-linkedin" style="height:20px;width:20px" ></i></a>
    </li>-->
      <li><a href="https://www.linkedin.com/in/rahulpatil017" target="_blank">Linkedin</a></li>
      <li><a href="https://github.com/rahulpatil017" target="_blank">Github</a></li>
      <li><a href="contact.asp">Certifications</a></li>
      <li><a href="contact.asp">Connect</a></li>
      <li><a href="contact.asp">Resume</a></li>
      <li><a href="news.asp">Projects</a></li>
      <li><a href="default.asp">About</a></li>
    </ul>


